<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mminismartadmin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mminismartadmin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mminismartadmin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mminismartadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Azure_MiniSMARTConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.1.101;Initial Catalog=Azure-MiniSMART;User ID=sa" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.101;Initial Catalog=Azure-MiniSMART;User ID=sa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure_MiniSMARTConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.101;Initial Catalog=Azure-MiniSMART;User ID=sa" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="minismartConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=mminismartadmin.database.windows.net;Initial Catalog=minismart;Persist Security Info=True;User ID=admin123;Password=Admin@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mminismartadmin.database.windows.net;Initial Catalog=minismart;Persist Security Info=True;User ID=admin123;Password=Admin@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\minismartConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mminismartadmin.database.windows.net;Initial Catalog=minismart;Persist Security Info=True;User ID=admin123;Password=Admin@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Cloud_ConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:mminismartadmin.database.windows.net,1433;Initial Catalog=miniSMART;Persist Security Info=False;User ID=admin123;Password=Admin@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:mminismartadmin.database.windows.net,1433;Initial Catalog=miniSMART;Persist Security Info=False;User ID=admin123;Password=Admin@123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:mminismartadmin.database.windows.net,1433;Initial Catalog=miniSMART;Persist Security Info=False;User ID=admin123;Password=Admin@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Cloud_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:mminismartadmin.database.windows.net,1433;Initial Catalog=miniSMART;Persist Security Info=False;User ID=admin123;Password=Admin@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Azure_MiniSMARTConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=192.168.1.101;Initial Catalog=Azure-MiniSMART;User ID=sa</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Cloud_ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mminismartadmin.database.windows.net,1433;Initial Catalog=miniSMART;Persist Security Info=False;User ID=admin123;Password=Admin@123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)minismartConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=mminismartadmin.database.windows.net;Initial Catalog=minismart;Persist Security Info=True;User ID=admin123;Password=Admin@123</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>